.container {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.login-box {
    width: 25rem;
}

.login-logo {
    height: 2.5rem;
}

.sub-title {
    font-size: 12px;
    text-align: center;
    color: #b4b4b4;
}

:host ::ng-deep p-carousel {
    .p-carousel-next,
    .p-carousel-prev {
        display: none !important;
    }
}

.p-title {
    font-family: SF Pro Text;
    font-size: 30px;
    font-weight: bolder;
}
