:host ::ng-deep .custom-panel {
    .p-panel .p-panel-header {
        padding-top: 5px !important;
        padding-bottom: 8px !important;
    }

    .p-panel .p-panel-content {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
    }

    .p-panel .p-panel-footer {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
    }
}

:host ::ng-deep {
    .p-dialog .p-dialog-content {
        overflow-y: auto !important;
        padding: 18px 20px !important;
    }

    .accordion__approval-details.p-accordion {
        .p-accordion-tab {
            margin-bottom: 14px !important;

            .p-accordion-header .p-accordion-header-link {
                background: var(--surface-100) !important;
                border-color: var(--surface-200) !important;
                padding: 8px 18px !important;
            }

            .p-accordion-content {
                padding: 14px 16px !important;
            }
        }
    }

    .p-accordion
        .p-accordion-header:not(.p-disabled)
        .p-accordion-header-link:focus {
        box-shadow: none !important;
    }
}

.aprover-box {
    width: 100%;
    border: 1px solid var(--surface-200);
    border-radius: 4px;
}
// ::ng-deep .p-dialog .p-dialog-content {
//     border-bottom-left-radius: 8px !important;
//     border-bottom-right-radius: 8px !important;
// }
