:host {
    ::ng-deep .report-error .p-dialog-header {
        width: 0;
    }

    ::ng-deep .message-error .p-dialog-header {
        border-bottom: none;
        display: none;
    }

    ::ng-deep .message-error .p-dialog-content {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        padding-bottom: 5px;

        .p-confirm-dialog-message {
            text-align: center;
        }
    }

    ::ng-deep .message-error .p-dialog-footer {
        text-align: center;

        button {
            margin: 0 0.5rem 0 0.5rem;
        }

        border-top: none;
    }
}

:host ::ng-deep {
    .c-icons {
        width: 6rem;
        height: 6rem;
    }

    .error-icon {
        background-image: url("/assets/icon/icon-Error.svg");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.link_report {
    text-decoration: underline;
    color: var(--primary-color);
    cursor: pointer;
}

.span-message {
    text-align: center;
    white-space: pre-line;
    font-size: 1rem;
    font-weight: 400;
}