button{
    width: 128px;
    height: 35px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: #FFFFFF;
    border-style: solid;
}

button:hover{
    cursor: pointer;
}

button:active{
    border-style: solid;
}

button i{
    font-size: 14px;
    font-weight: 600;
}