<div class="container">
    <img
        class="absolute z-2"
        style="top: 2.8rem; left: 2.8rem; width: 7rem"
        src="assets/logo/BSS-logo.svg"
    />
    <img
        class="absolute z-1 bg-login"
        style="width: 100vw; height: 100vh"
        src="assets/images/bg-login.svg"
    />

    <div class="card z-3 login-box">
        <form (ngSubmit)="showPassword ? handleSubmit() : checkUsername()">
            <div class="p-fluid p-2" [formGroup]="formGroup">
                <p class="p-float-label mb-4 p-title text-center">Login</p>
                <div class="field">
                    <label
                        for="_username"
                        [ngClass]="{
                            'ng-dirty ng-invalid':
                                (formGroup.get('username').touched ||
                                    formGroup.get('username').dirty) &&
                                !formGroup.get('username').valid
                        }"
                        >Username/NIK</label
                    >
                    <div>
                        <input
                            pInputText
                            id="_username"
                            [ngClass]="{
                                'ng-dirty ng-invalid':
                                    (formGroup.get('username').touched ||
                                        formGroup.get('username').dirty) &&
                                    !formGroup.get('username').valid
                            }"
                            formControlName="username"
                            type="text"
                            placeholder="Input Username/NIK"
                            class="login-input"
                            [readonly]="showPassword || isLoading"
                        />
                        <app-error-field-helper
                            [formControlKey]="formGroup.get('username')"
                        >
                        </app-error-field-helper>
                    </div>
                </div>
                <div class="field" [hidden]="!showPassword">
                    <label
                        for="password"
                        [ngClass]="{
                            'ng-dirty ng-invalid':
                                (formGroup.get('password').touched ||
                                    formGroup.get('password').dirty) &&
                                !formGroup.get('password').valid
                        }"
                        >Password</label
                    >
                    <div>
                        <p-password
                            id="password"
                            [feedback]="false"
                            [toggleMask]="true"
                            formControlName="password"
                            styleClass="login-password"
                            [ngClass]="{
                                'ng-dirty ng-invalid':
                                    (formGroup.get('password').touched ||
                                        formGroup.get('password').dirty) &&
                                    !formGroup.get('password').valid
                            }"
                            placeholder="Input Password"
                            autocomplete="on"
                        ></p-password>
                        <app-error-field-helper
                            [formControlKey]="formGroup.get('password')"
                        >
                        </app-error-field-helper>
                    </div>
                </div>
                <div class="grid py-2 align-items-center">
                    <div class="col-6">
                        <p-checkbox
                            inputId="rememberMe"
                            formControlName="rememberMe"
                            [binary]="true"
                        ></p-checkbox>
                        <label class="ml-2" for="rememberMe">Remember me</label>
                    </div>
                    <div class="col-6" *ngIf="showPassword">
                        <span
                            (click)="switchAccount()"
                            class="p-float-label text-right primary-color"
                            style="cursor: pointer"
                        >
                            Switch Account
                        </span>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12">
                        <span class="p-float-label mt-2">
                            <button
                                pButton
                                pRipple
                                label="Login"
                                [loading]="isLoading"
                            ></button>
                        </span>
                    </div>
                    <div class="col-12">
                        <div class="flex w-full justify-content-end">
                            <button
                                class="btn-nude p-float-label primary-color cursor-pointer"
                                (click)="navigateToPage('/forgot-password')"
                            >
                                Forgot Password
                            </button>
                        </div>

                        <!-- <span
                            class="p-float-label primary-color"
                            style="cursor: pointer; width: fit-content"
                        >
                        </span> -->
                    </div>
                </div>

                <div class="flex w-full justify-content-center mt-4">
                    <button
                        class="btn-nude p-float-label primary-color cursor-pointer"
                        (click)="navigateToPage('/privacy-policy')"
                    >
                        Privacy Policy
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<flash-message-error></flash-message-error>
