/* General */
$fontSize: 10px;
$borderRadius: 12px;
$transitionDuration: 0.2s;
$borderRadius-header: 12px 12px 0px 0px;
$borderRadius-footer: 0px 0px 12px 12px;

$primary-blue: #0E8EC5;
$primary-green: #29B129;
$primary-red: #da241c;
$primary-yellow: #f6cc34;
$primary-gray: #656565;
$ligth-yellow: #ffffe8;
$light-blue: #e8f2ff;
$light-blue-quarter: #f6fafc;
$light-green: #d5fede;
$light-red: #ffe8e8;
$light-yellow: #ffffe8;
$light-gray: #9f9f9f;
$dark-red: #a82018;
$dark-green: #208d20;
$dark-yellow: #c7a428;
$border-input-color: #e7e6e6;
$text-primary: #656565;
$text-secondary: #9f9f9f;
$card-content-bg: #f3f5ff;
