
<input type="text"  style="opacity: 0;position: absolute;">
<input type="password" style="opacity: 0;position: absolute;">
<div class="card">
    <div class="grid field">
        <div class="col-6 mt-2">
            <h5>Pengguna - Tambah</h5>
        </div>
        <div class="col-6">
            <div class="field text-right hide-mobile">
                <btn-kembali routeUrl="util/user"></btn-kembali>
                <btn-save (onClick)="onSave()"></btn-save>
            </div>
            <div class="field text-right hide-desktop">
                <btn-save (onClick)="onSave()"></btn-save>
            </div>
        </div>
    </div>
        <div class="grid p-fluid" [formGroup]="formControl">
            <div class="col-12 md:col-6">
                <div class="field">
                    <label for="employee">Karyawan</label>
                    <div>
                        <app-lov uri="lov/employees" label="Pilih Karyawan" (selected)="selectEmp($event)"></app-lov>
                    </div>
                </div>
                <div class="field">
                    <label for="name" class="required">Nama Pengguna</label>
                    <div>
                        <input id="name" type="text" formControlName="username" placeholder="Isi Nama" pInputText [ngClass]="{'ng-dirty ng-invalid' : (formControl.get('username').touched || formControl.get('username').dirty ) &&
                        !formControl.get('username').valid}">
                        <app-error-field-helper [formControlKey]="formControl.get('username')" ></app-error-field-helper>
                    </div>
                </div>
                <div class="field">
                    <label for="surel" class="required">Email</label>
                    <div>
                        <input id="surel" type="text" formControlName="email" placeholder="example@google.com" pInputText [ngClass]="{'ng-dirty ng-invalid' : (formControl.get('email').touched || formControl.get('email').dirty ) &&
                        !formControl.get('email').valid}">
                        <app-error-field-helper [formControlKey]="formControl.get('email')" ></app-error-field-helper>
                    </div>
                </div>
                <div class="field">
                    <label for="active" >Aktif</label>
                    <div>
                        <p-inputSwitch name="active"  formControlName="isActive"></p-inputSwitch>
                    </div>
                </div>
                <div class="field">
                    <label for="generate" >Acak Kata Sandi</label>
                    <div>
                        <p-inputSwitch name="generate"  formControlName="isGeneratedPassword"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-6">
                <div class="field">
                    <label for="effBegin" class="required">Berlaku Dari</label>
                    <div>
                        <p-calendar id="effBegin"  dateFormat="dd-mm-yy" appendTo="body" placeholder="Isi Tanggal Bergabung" [ngClass]="{'ng-dirty ng-invalid' : (formControl.get('effBegin').touched || formControl.get('effBegin').dirty ) &&
                        !formControl.get('effBegin').valid}"
                            formControlName="effBegin"[showIcon]="true">
                        </p-calendar>
                        <app-error-field-helper [formControlKey]="formControl.get('effBegin')" ></app-error-field-helper>
                    </div>
                </div>
                <div class="field">
                    <label for="effEnd" class="required">Berlaku Sampai</label>
                    <div>
                        <p-calendar id="effEnd"  dateFormat="dd-mm-yy" [minDate]="formControl.value.effBegin" appendTo="body" placeholder="Isi Tanggal Bergabung" [ngClass]="{'ng-dirty ng-invalid' : (formControl.get('effEnd').touched || formControl.get('effEnd').dirty ) &&
                        !formControl.get('effEnd').valid}"
                            formControlName="effEnd"[showIcon]="true">
                        </p-calendar>
                        <app-error-field-helper [formControlKey]="formControl.get('effEnd')" ></app-error-field-helper>
                    </div>
                </div>
                
                <ng-container *ngIf="!formControl.value.isGeneratedPassword">
                    <div class="field">
                        <label for="pass" class="required">Sandi</label>
                        <p-password [(ngModel)]="password" #pass="ngModel" required [ngClass]="{'ng-dirty ng-invalid' : pass.errors?.['required'] && (pass.dirty || pass.touched || touched)}"
                        [toggleMask]="true" [ngModelOptions]="{standalone: true}"></p-password>
                        <small *ngIf="pass.errors?.['required'] && (pass.dirty || pass.touched || touched)" class="p-error-empty text-left"></small>
                    </div>
                    <div class="field">
                        <label for="rePass" class="required">Sandi Ulang</label>
                        <p-password [(ngModel)]="rePassword" #rePass="ngModel" required [ngClass]="{'ng-dirty ng-invalid' : rePassword!=password || pass.errors?.['required'] && (rePass.dirty || touched || rePass.touched)}"
                        [toggleMask]="true" [ngModelOptions]="{standalone: true}"></p-password>
                        <small *ngIf="rePass.errors?.['required'] && (rePass.dirty || rePass.touched || touched)" class="p-error-empty text-left"></small>
                        <small *ngIf="rePassword != password && (rePass.dirty || rePass.touched || touched)" style="color: red;" class="p-error-empty text-left"> password tidak sama.</small>
                    </div>
                </ng-container>
            </div>
        </div>
</div>