:host ::ng-deep {
    .badge-notif {
        transform: translateY(-6px);
        background-color: #F6CC34;
        color: #fff;
    }
}

.tiered-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;

    li {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        cursor: pointer;
        transition: all 0.1s;

        &:hover {
            i {
                color: #656565;
            }

            div {
                color: #0e8ec5;

                i {
                    color: #0e8ec5;
                }
            }
        }

        &.active {
            background-color: #e8f2ff;
            i {
                color: #656565;
            }

            div {
                color: #0e8ec5;
                font-weight: bold;

                i {
                    color: #0e8ec5;
                }
            }
        }

        &.disabled {
            opacity: 0.6;
            cursor: default !important;
            pointer-events: none;
        }

        i {
            color: #9f9f9f;
            font-size: 16px;
        }

        div {
            font-size: 16px;
            color: #656565;

            i {
                font-size: 20px;
            }
        }
    }
}
