<button pButton pRipple [disabled]="disabled" class="btn-download mb-2 ml-2" label="Generate" (click)="check()"
  icon="bi bi-gear-fill"></button>
<p-confirmDialog [hidden]="!isShow" [style]="{width: '500px'}" [breakpoints]="{'960px': '85vw'}" [baseZIndex]="10000"
  [closable]="false" [acceptIcon]="false" [rejectIcon]="false" class="delete-dialog"></p-confirmDialog>
<p-dialog [(visible)]="isShowNoData" [modal]="true" [style]="{width: '500px'}" [breakpoints]="{'960px': '85vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" header="Genarate Leave Setting">
  <div class="text-center">
    Harap pilih data
  </div>
  <p-footer>
    <button pButton class="btn-primary" (click)="isShowNoData = false" label="Ok"></button>
  </p-footer>
</p-dialog>