<p-toast></p-toast>
<div class="flex flex-column w-full no-pad" style="gap: 8px">
    <div
        (click)="opDateRange.toggle($event)"
        class="border-1 border-300 flex justify-content-between align-items-center border-round py-2 px-4 inp__range-date-picker"
        style="gap: 5px"
    >
        <i class="fa-solid fa-calendar-days inp__range-date-picker--icon"></i>
        <div class="content-dates w-full">
            <p class="w-full text-overflow-ellipsis text-center m-0">
                {{
                    !dateRange.length
                        ? "All Dates"
                        : helpLog.convertArrayDateToDateRange(dateRange)
                }}
            </p>
        </div>
        <i class="fa-solid fa-caret-down inp__range-date-picker--icon"></i>
    </div>
    <span class="max-30-days">{{ "maxLogHis30DayAgo" | translate }}</span>
</div>

<p-overlayPanel
    #opDateRange
    [style]="{ padding: '12px 16px' }"
    baseZIndex="0"
    styleClass="op-date-range"
    (onShow)="showPanel()"
    (onHide)="showPanel()"
>
    <div
        class="flex flex-column justify-content-between"
        style="gap: 14px; width: 60rem; height: 22rem"
    >
        <div class="grid no-pad">
            <div class="col-3 no-pad border-right-1 border-300">
                <div
                    class="flex flex-column py-2 justify-content-start w-full"
                    style="gap: 8px"
                >
                    <button
                        type="button"
                        class="btn--command"
                        [class.active]="activeCommand === idx"
                        *ngFor="let comm of listCommands; let idx = index"
                        (click)="onChangeCommand(comm.key, idx)"
                    >
                        {{ comm.label }}
                    </button>
                </div>
            </div>
            <div class="col-9 no-pad">
                <p-calendar
                    #calendarDateRange
                    name="dateRange"
                    inputId="dateRange"
                    [(ngModel)]="dateRange"
                    [inline]="true"
                    [readonlyInput]="true"
                    baseZIndex="0"
                    selectionMode="range"
                    styleClass="pl-3 calendar__date-range-picker w-full h-full"
                    [numberOfMonths]="2"
                >
                    <ng-template pTemplate="nexticon">
                        <i
                            class="fa-solid fa-angle-right text-2xl"
                            style="color: #0e8ec5"
                        ></i>
                    </ng-template>
                    <ng-template pTemplate="previousicon">
                        <i
                            class="fa-solid fa-angle-left text-2xl"
                            style="color: #0e8ec5"
                        ></i>
                    </ng-template>
                    <ng-template pTemplate="date" let-date>
                        <button (click)="onSelectDate()">{{ date.day }}</button>
                    </ng-template>
                </p-calendar>
            </div>
        </div>
        <div
            class="flex justify-content-end align-items-center w-full"
            style="gap: 8px"
        >
            <button
                [disabled]="dateRange[1] === null || !dateRange.length"
                pButton
                pRipple
                (click)="onApply()"
                class="btn-apply"
            >
                {{ "apply" | translate }}
            </button>
            <button
                class="btn-refresh"
                type="button"
                (click)="onReset()"
                pButton
                pRipple
                icon="fas fa-sync-alt"
            ></button>
        </div>
    </div>
</p-overlayPanel>
