<button
    *ngIf="!isSmall"
    [disabled]="disabled"
    pButton
    class="btn-cancel mb-2 ml-2"
    icon="fas fa-times"
    (click)="click()"
    label="{{ label | translate }}"
    id="btnResponsive"
    [ngClass]="{'btn-cancel-custom': isNeedCustom}"
></button>
<button
    *ngIf="isSmall"
    [disabled]="disabled"
    pButton
    class="mb-2 ml-2 mini-button-cancel"
    icon="fas fa-times"
    (click)="click()"
    id="btnResponsive"
></button>
<p-confirmDialog
    [hidden]="!isShow"
    [style]="{ width: '500px' }"
    [breakpoints]="{ '960px': '85vw' }"
    [baseZIndex]="10000"
    [closable]="true"
    [acceptIcon]="false"
    [rejectIcon]="false"
    class="cancel-dialog"
></p-confirmDialog>
